body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
 /* z-index: -1; */
  color:white;
  width:100%;
}

.app, .movies{
  display: flex;
  flex-direction: column;
  /* z-index: 1; */
}

.background-image{
  width: 45%;
  opacity: 0.9;
  filter: blur(.5px);
  border-radius: .5rem;
  object-fit: contain;
}

.header{
  position: fixed;
  z-index: 1;
}

.app-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5rem;
 
}

.app-header-left{
  display: flex;
  gap:1.5rem;
  margin-inline-start: 1rem;
  align-items: center;
}

.app-header-searchbar{
  width: 85%;
  border-radius: 1rem;
  /* height: 1.5rem; */
  border: 1px solid lightgray;
  background-color: black;
  padding:2rem;
  /* padding-inline-start: 1rem; */
  color:white;
  margin:5% 0;
  margin-bottom: 4rem;
  font-size: medium;
}

.app-header-searchbar:focus{
  background-color: white;
  outline:none;
  color:black;
}
.app-header-tab{
  color:white;
  opacity:0.7;
}

.app-header-tab:hover{
  
  opacity: 1;
  cursor: pointer;
}

.app-main-logo{
  width:5rem;
}

.app-header-icon{
  color:white;
  opacity: 0.7;
}

.app-header-icon:hover{
  opacity: 1;
  cursor: pointer;
}

.app-header-right{
  display: flex;
  gap:1rem;
  margin-inline-end: 1rem;
  align-items: center;
}

.app-display-pic{
  /* border:none; */
  border-radius: 30%;
  width:2rem;
  height:3rem;
}

.poster-container{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  gap:.5rem;
  overflow:scroll;
  /* position: relative; */

}

.app-body{
  margin-inline-start: 1rem;
  position: relative;
  top:30rem;
  transform: translateX(0);
}

.app-section{
  color:white;
  font-weight: bold;
}

.app-poster{
  width:15%;
  height: 10%;
  object-fit: cover;
  border-radius: .5rem;
  /* position: absolute; */
}

.app-poster:hover{
  transform: scale(1.03);
  transition: 1s;
  cursor: pointer;
  outline:3px solid white;
}

.movie-title{
  font-size:xx-large;
  font-weight: bold;
}

.movie-overview{
  opacity:0.7;
  word-break: normal;
}

.movie-section{
  display: flex;
  justify-content: space-between;
  gap:.5rem;
  width:100%;
  
  height: 25rem;
  align-items: flex-start;
  position: sticky;
  z-index: 1;
  background-color: black;
}

.movie-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width:50%;
  
}

.poster-search-container{
  display: flex;
  gap:.5rem;
  flex-wrap: wrap;
  overflow-y: hidden;
  width: 100%;
  
}

.movie-buttons{
  display: flex;
  gap:2rem;
}

.movie-btn{
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: white;
  border: none;
  width: 50%;
}

.movie-btn:focus{
  background: lightseagreen;
}

.movie-btn:hover{
  background: lightslategray;
  color:white;
  cursor:pointer;
}

.search-header{
  display: flex;
  align-items: center;
  justify-content: center;

}
NavLink{
  text-decoration: none;
}

.virtual-keyboard{
  background: #000;
  color: black;
}

.hg-theme-default{
  color:black;
  padding: 1rem;
  
  margin:auto;
}

.tabs{
  display: flex;
  gap:1rem;
}

.tabs:first-child:focus{
  color: lightseagreen;
}